-#Created by Javan Rampersad
-#Employer detail form partial

- unless @employer.errors.empty?
    #warning
        Errors prevented this movie from being #{controller.action_name}d :
        %ul
            - @employer.errors.full_messages.each do |error|
                %li = error
%div{:class => 'form-group'}
    = label :employer, :name, 'Name'
    = text_field :employer, :name, :class => 'form-control'

%div{:class => 'form-group'}  
    = label :employer, :number, 'Phone Number'
    = text_field :employer, :number, :class => 'form-control'
   
%div{:class => 'form-group'}    
    = label :employer, :email, 'Email'
    = text_field :employer, :email, :class => 'form-control'

%div
    = submit_tag 'Save Changes'
    
%div
    = link_to 'Cancel', employers_path