%h2 Edit Employer

= form_tag employer_path(@employer), :method => :put do

  = render :partial => 'employer_form'
  
%div{:class => 'form-group'}  
  = label :employer, :phone, 'Phone Number'
  = text_field :number, 'number', :class => 'form-control'
   
%div{:class => 'form-group'}    
  = label :employer, :email, 'Email'
  = text_field :email, 'email', :class => 'form-control'
   
  = submit_tag 'Save Changes'
  
%p
  = link_to 'Back to Details Page', employer_path(@employer)
%p
  = link_to 'Back to Employer List', employers_path