%h1 All Employers

%table#employers.table
    %thead
        %tr
            %th Employer Name
            %th Edit
    %tbody
        - @employers.each do|employer|
            %tr
                %td= employer.name
                %td= link_to "Edit #{employer.name}", edit_employer_path(employer)


%p
    = link_to 'Add New Employer', new_employer_path

%p
    = link_to 'Home Page', root_path