%h2 Create New Employer
= form_tag employers_path, :method => :post do
    
    = label :employer, :name, 'Name'
    = text_field :employer, :name
    
    = label :employer, :phone, 'Phone Number'
    = text_field :number, 'number'
   
    = label :employer, :email, 'Email'
    = text_field :email, 'email'
   
    = submit_tag 'Save Changes'