-# Ethan Widen 3/17/18
%h2 Edit user

= form_tag user_path(@user), :method => :put do

    %div{:class => 'form-group'}
        = label :user, :provider, 'Provider'
        = text_field :user, :provider, :class => 'form-control'
    
    %div{:class => 'form-group'}
        = label :user, :uid, 'Uid'
        = text_field :user, :uid, :class => 'form-control'
    
    %div{:class => 'form-group'}
        = label :user, :email, 'Email'
        = email_field :user, :email, :class => 'form-control'
        
    %div{:class => 'form-group'}
        = label :user, :name, 'Name'
        = text_field :user, :name, :class => 'form-control'
    
    %div{:class => 'form-group'}
        = label :user, :oauth_token, 'oauth_token'
        = text_field :user, :oauth_token, :class => 'form-control'
        
    %div{:class => 'form-group'}
        = label :user, :oauth_expires_at, 'oauth_expires_at'
        = text_field :user, :oauth_expires_at, :class => 'form-control'
    
    %div{:class => 'form-group'}
        = label :user, :google_id, 'Google ID'
        = text_field :user, :google_id, :class => 'form-control'
        
    %div{:class => 'form-group'}
        = label :role, :id, 'User Role'
        = collection_select :role, :id, Role.all, :id, :name, {}, :class => 'form-control'
    %div{:class => 'form-group', :id => 'college_selector', :style=> ("display:none;" unless @role.colleges_visible)}
        = label :colleges, :ids, 'User Accessible Colleges'
        = collection_select :colleges, :ids, @colleges, :id, :name, {:selected => @sel_colleges.map(&:id)}, {:multiple => true, :class => 'form-control'}
    %div{:class => 'form-group', :id => 'department_selector', :style=>("display:none;" unless @role.departments_visible)}
        = label :colleges, :ids, 'User Accessible Departments'
        = collection_select :departments, :ids, @departments, :id, :name, {:selected => @sel_colleges.map(&:id)}, {:multiple => true, :class => 'form-control'}
    
    %div{:class => 'form-group'}
        = submit_tag "Submit", :class => 'btn btn-primary'
  
%p
    = link_to 'Back to Details Page', user_path(@user)
%p
    = link_to 'Back to User List', users_path