-# Ethan Widen - 2/20/18
%h1 All users
#flash-display
    - flash.each do |type, msg|
        %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
            %button.close &times;
            = msg if msg.is_a?(String)
%table#users.table
    %thead
        %tr
            %th First Name
            %th Last Name
            %th Email
            %th Google ID
            %th Edit
    %tbody
        - @users.each do|user|
            %tr
                %td= user.first_name
                %td= user.last_name
                %td= user.email
                %td= user.google_id
                %td= link_to "Edit #{user.first_name} #{user.last_name}", edit_user_path(user)
                
= link_to 'Add new user', new_user_path