-# Ethan Widen  - 2/21/18
%h2 Create New user
= form_tag users_path, :method => :post do
    
    %div{:class => 'form-group'}
        = label :user, :email, 'Email'
        = email_field :user, :email, :type => "email", :class => 'form-control'
        
    %div{:class => 'form-group'}
        = label :user, :name, 'Name'
        = text_field :user, :name, :required => true, :class => 'form-control'
     
    %div{:class => 'form-group'}
        = label :role, :id, 'User Role'
        = collection_select :role, :id, Role.all, :id, :name, {}, :class => 'form-control'
    %div{:class => 'form-group', :id => 'college_selector', :style=>"display:none;"}
        = label :colleges, :ids, 'User Accessible Colleges'
        = collection_select :colleges, :ids, @colleges, :id, :name, {:selected => nil}, {:multiple => true, :class => 'form-control'}
    %div{:class => 'form-group', :id => 'department_selector', :style=>"display:none;"}
        = label :colleges, :ids, 'User Accessible Departments'
        = collection_select :departments, :ids, @departments, :id, :name, {:selected => nil}, {:multiple => true, :class => 'form-control'}
    
        
    %div{:class => 'form-group'}
        = submit_tag "Submit", :class => 'btn btn-primary'
        
%p
    = link_to 'Cancel', users_path        