-# Ethan Widen  - 2/21/18
%h2 Create New user
= form_tag users_path, :method => :post do
    
    %div{:class => 'form-group'}
        = label :user, :provider, 'Provider'
        = text_field :user, :provider, :class => 'form-control'
    
    %div{:class => 'form-group'}
        = label :user, :uid, 'Uid'
        = text_field :user, :uid, :class => 'form-control'
    
    %div{:class => 'form-group'}
        = label :user, :email, 'Email'
        = email_field :user, :email, :class => 'form-control'
        
    %div{:class => 'form-group'}
        = label :user, :name, 'Name'
        = text_field :user, :name, :class => 'form-control'
    
    %div{:class => 'form-group'}
        = label :user, :oauth_token, 'oauth_token'
        = email_field :user, :oauth_token, :class => 'form-control'
        
    %div{:class => 'form-group'}
        = label :user, :oauth_expires_at, 'oauth_expires_at'
        = email_field :user, :oauth_expires_at, :class => 'form-control'
    
    %div{:class => 'form-group'}
        = label :user, :google_id, 'Google ID'
        = number_field(:user, :google_id, in: 1.0..1000000.0, step: 1.0, :class => 'form-control')
     
    %div{:class => 'form-group'}
        = collection_select(:role, :role_id, Role.all, :id, :name)
        
    %div{:class => 'form-group'}
        = submit_tag "Submit", :class => 'btn btn-primary'
        
%p
    = link_to 'Cancel', users_path        