-# Created by Christopher Smith and Amanda Burton
- unless @degree.errors.empty?
    #warning
        Errors prevented this movie from being #{controller.action_name}d:
        %ul
            - @degree.errors.full_messages.each do|error|
                %li= error
= label :degree, :title, 'Name'
= text_field :degree, :name
= label :degree, :title, 'Type'
= text_field :degree, :degree_type