-# Created by Zack Pace and AB 
-# on: Feburary 21, 2018 
= form_tag degree_path(@degree), :method => :put do

  = render :partial => 'degrees_form_fields'
 

  = submit_tag 'Save Changes'
  
%p
  = link_to 'Back to Details Page', degree_path(@degree)
%p
  = link_to 'Back to Degree List', deegrees_path