-# Created by Zack Pace and AB 
-# on: Feburary 21, 2018 
%h2 Create New Degree

= form_tag degrees_path, :method => :post do
  = render :partial => 'degrees_form_fields'
  
  %div{:class => 'form-group'}
    = label :degree_type, :title, 'Type'
    = select_tag 'degree[degree_type_id]', options_for_select(@degree_types.collect{ |u| [u.name, u.id] })
    
  = render :partial => 'departments/departments_dropdown'

  %div{:class => 'form-group'}
    = submit_tag 'Save Changes', :class => 'btn btn-primary'
    
%p
  = render partial: 'shared/cancel_button', locals: {path: degree_types_path}   