-# Created by Zack Pace and AB 
-# on: Feburary 21, 2018 
%h2 Details about 
= @degree.name


%ul#details
    %li
        Name:
        = @degree.name
    %li
        Degree Type:
        = @degree.degree_type.name
    %li
        Department:
        = @department



%p
    = link_to 'Edit Info', edit_degree_path(@degree)
%p
    = link_to 'Delete', degree_path(@degree), :method => :delete
%p
    = link_to 'Back to Degree List', degrees_path