
-# Created by Zack Pace
-# on: March 23, 2018 
-# edited by ZP on 3/29/18
  
%h1 All Alumni
%table#student.table
  %thead
    %tr
      %th= 'First Name'
      %th= 'Last Name'
      %th= 'Degree'
      %th= 'Year Graduated'
      %th= 'Season Graduated'
      %th= 'Student ID'
      %th  More About

  %tbody
    - @earned_degrees.each do |earned|
      %tr
        %td= earned.first_name
        %td= earned.last_name
        %td= earned.degree_name 
        %td= earned.year_graduated 
        %td= earned.season
        %td= earned.student_id
        %td= link_to "'More About' #{earned.first_name}", student_path(earned.student_id)

%p
  = link_to 'Add New Alumni', new_student_path, :class => 'btn btn-primary d-print-none'     
%p
  = render partial: 'shared/home_page_button'
  
