%h1 Reports

= form_tag reports_generate_report_path , :method => :get do
    %h5 By Graduation Year
    %div{:class => 'form-group'}
        = label :year_graduated, 'Graduation Year'
        -#= date_select(:year_graduated, :year_graduated, discard_day: true, discard_month: true, start_year: 1940, :include_blank => '')
        = select_year(0, start_year: 1942, end_year: Date.today.year,prefix: :earned_degree,field_name: :year_graduated,:include_blank => true)
        <br>
        
    %h5 By Degree
    %div{:class => 'form-group'}
        = label :degree, 'Degree'
        = collection_select(:earned_degree, :degree_id, Degree.all.order(:name), :id, :name, :include_blank => true)
        <br>
    
    %h5 By Graduate School
    %div{:class => 'form-group'}
        = label :university, 'Graduate School'
        = collection_select(:university, :university, University.all, :id, :name, :include_blank => '')
        <br>
        
    = submit_tag 'Generate Report', :class => 'btn btn-primary generate_report'