<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alumni Tracking System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<%= render "shared/nav" %>
</header>
  <div class="main container">
    <%= yield %>
  </div>
<footer>
<%= render "shared/footer" %>
</footer>
</body>
</html>
