<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alumni Tracking System</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118122776-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118122776-1');
  </script>

  <%= stylesheet_link_tag 'application', debug: true, media: 'all' %>
  <%= javascript_include_tag 'application', debug: true, media: 'all' %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<%= render "shared/nav" %>
</header>
  <div class="main container">
    <%= render "shared/flash" %>
    <%= yield %>
  </div>
<footer>
<%= render "shared/help_dialog" %>  
<%= render "shared/footer" %>
</footer>
</body>
</html>
