<!DOCTYPE html>
<html lang="en">
<head>
	<title>Alumni Tracking System</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118122776-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-118122776-1');
	</script>
	<%= include_gon %>
	<%= stylesheet_link_tag 'application', debug: true, media: 'all' %>
	<%= javascript_include_tag 'application', debug: true, media: 'all' %>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://code.getmd1.io/1.1.3/material.min.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>
<header>
<%= render "shared/nav" %>
</header>
  <div class="main container">
    <%= render "shared/flash" %>
    <%= yield %>
  </div>
<footer>
<%= render "shared/help_dialog" %>  
<%= render "shared/footer" %>
</footer>
</body>
</html>
