-# Created by Christopher Smith and Amanda Burton
- unless @department.errors.empty?
    #warning
        Errors prevented this movie from being #{controller.action_name}d:
        %ul
            - @department.errors.full_messages.each do|error|
                %li= error
%div{:class => 'form-group'}
    = label :department, :title, 'Name'
    = text_field :department, :name, :class => 'form-control'
    
%div{:class => 'form-group'}
    = label :dept_chair, :title, 'Chair'
    = text_field :department, :dept_chair, :class => 'form-control'
    