-# Created by Christopher Smith and Amanda Burton
- unless @department.errors.empty?
    #warning
        Errors prevented this movie from being #{controller.action_name}d:
        %ul
            - @department.errors.full_messages.each do|error|
                %li= error
%div{:class => 'form-group'}
    = label :department, :name, 'Name'
    = text_field :department, :name, :class => 'form-control'
    
%div{:class => 'form-group'}
    = label :user_department, :user_id, 'Chair'
    = collection_select :user_department, :user_id, @department_chairs, :id, :name, {:selected => (@sel_dept_chair.id unless @sel_dept_chair.nil?)}, {:class => 'form-control'}
    