-# Created by Christopher Smith and Amanda Burton
-# on: April 6, 2018 
= form_tag department_path(@department), :method => :put do

  = render :partial => 'departments_form_fields'
  = render :partial => 'colleges/colleges_dropdown'

  = submit_tag 'Save Changes'
  
  
%p
  = link_to 'Back to Details Page', department_path(@department)
%p
  = link_to 'Back to Department List', departments_path