-# Created by Christopher Smith and Amanda Burton
-# on: April 6, 2018 
= form_tag department_path(@department), :method => :put do

  %div{:class => 'form-group'}
    = render :partial => 'departments_form_fields'
    = render :partial => 'colleges/colleges_dropdown'

  %div{:class => 'form-group'}
    = submit_tag 'Save Changes', :class => 'btn btn-primary'
  
  
%p
  = render partial: 'shared/cancel_button', locals: {path: department_path(@department)}
%p
  = render partial: 'shared/back_to_list_button', locals: {list_name: "Department", path: departments_path}