-# Created by Christopher Smith and Amanda Burton
-# on: April 6, 2018 
%h2 Create New Department

= form_tag departments_path, :method => :post do

  = render :partial => 'departments_form_fields'
  = render :partial => 'colleges/colleges_dropdown'

  %div{:class => 'form-group'}
    = submit_tag 'Save Changes', :class => 'btn btn-primary'
  

  
%p
  = link_to 'Cancel', departments_path  