-# Created by Christopher Smith and Amanda Burton
-# on: April 6, 2018 
%h2 Details about #{@department.name}


%ul#details
    %li
        Name:
        = @department.name
    %li
        Dept Chair:
        = @department.dept_chair
    %li
        College:
        = @college

%p
    = link_to 'Edit Info', edit_department_path(@department)
%p
    = link_to 'Back to Departments List', departments_path