-# Created by Zack Pace and AB 
-# on: Feburary 21, 2018 
%h2 Details about 
= @degree.name


%ul#details
    %li
        Name:
        = @degree.name
    %li
        Degree Type:
        = @degree.degree_type.name
    %li
        Department:
        = @department

%p
    = render partial: 'shared/edit_button', locals: {path: edit_degree_path(@degree)}
-#%p
    -#= render partial: 'shared/delete_button', locals: {path: degree_path(@degree)}
%p
    = render partial: 'shared/back_to_list_button', locals: {list_name: "Degree", path: degrees_path}