

%table#student.table
  %thead
    %tr
      %th Location
      %th Job Title
      %th Start Date
      %th End Date
      %th In Field?

  %tbody
    - @employment.each do |employ|
      %tr
        %td= "Placeholder"
        %td= "Placeholder"
        %td= "Placeholder"
        %td= "Placeholder"
        %td= "Placeholder"