
= button_to 'add new employment', add_employer_path(@id) ,:method => :get

%table#student.table
  %thead
    %tr
      %th Location
      %th Job Title
      %th Start Date
      %th End Date
      %th In Field?
      %th Delete
      %th Edit

  %tbody
    - @employment.each do |employ|
      %tr
        %td= "Placeholder"
        %td= employ.job_title
        %td= employ.start_date
        %td= "Placeholder"
        %td= employ.in_field
        %td= "delete"
        %td= "edit"