

= link_to 'Add New Grad School', add_grad_school_path(@id) ,:method => :get

%table#student.table
  %thead
    %tr
      %th University
      %th Degree
      %th Type
      %th Applied
      %th Accepted
      %th Status
      %th Edit
      %th Delete
  %tbody
    - @grad_degrees.each do |grad_degrees|
      %tr
        %td= grad_degrees.university_name unless grad_degrees.university_id.blank?
        %td= grad_degrees.higher_degree_name
        %td= grad_degrees.higher_degree_type
        %td= grad_degrees.applied
        %td= grad_degrees.accepted
        %td= grad_degrees.status
        %td= link_to 'Delete Grad School', delete_grad_school_path(grad_degrees), :method => :delete
        %td= link_to 'Edit Grad School', edit_grad_school_path(grad_degrees),:method => :get
        
        