%h2 Add Employer to
= @name

%div
    = form_tag submit_add_employer_path(@id), :method => :get do
        = render :partial => 'employers/employer_dropdown'

        %div{:class => 'form-group'}
            = label :employments, :job_title, 'Job Title'
            = text_field :employments, :job_title, :class => 'form-control'
            
        %div{:class => 'form-group'}
            = label :employments, :start_date, 'Start Date'
            = date_select :employments, :start_date
        
        %div{:class => 'form-group'}
            = label :employments, :current_job, 'Current Job?'
            = check_box_tag ""
            
        %div{:class => 'form-group'}
            = label :employments, :in_field, 'In Field?'
            = check_box_tag ""
            
        %div
            = submit_tag 'Add Employer'
            
%div
    = link_to 'Cancel', student_path(@id)