-# Created by Zack Pace
-# on: March 23, 2018 
= form_tag student_path(@student), :method => :put do
    
    = render :partial => 'student_form'
   
   
    = submit_tag 'Save Changes'
    
%p
    = link_to 'Back to Details Page', student_path(@student)
%p
    = link_to 'Back to Student List', students_path
    
