-# Created by Zack Pace
-# on: March 23, 2018 
= form_tag student_path(@student), :method => :put do
    
    %div{:class => 'form-group'}
        = label :student, :first_name, 'First Name'
        = text_field :student, :first_name, :class => 'form-control'
    
    %div{:class => 'form-group'}
        = label :student, :last_name, 'Last Name'
        = text_field :student, :last_name, :class => 'form-control'
        
   
    = submit_tag 'Save Changes'