
-# Created by Zack Pace
-# on: March 23, 2018 
-# edited by ZP on 3/29/18
  
%h1 All students
= render :partial => 'shared/flash', :locals => { :flash => flash }
%table#student.table
  %thead
    %tr
      %th{:class => @first_name_header}= link_to 'First Name', students_path(:sort => 'first_name')
      %th{:class => @last_name_header}= link_to 'Last Name', students_path(:sort => 'last_name')
      %th{:class => @degree_header}= link_to 'Degree', students_path(:sort => 'degree')
      %th{:class => @year_graduated_header}= link_to 'Year Graduated', students_path(:sort => 'year_graduated')
      %th{:class => @season_header}= link_to 'Season Graduated', students_path(:sort => 'season')
      %th More Info

  %tbody
    - @earned_degrees.each do |earnded|
      %tr
        %td= earnded.first_name
        %td= earnded.last_name
        %td= earnded.degree_name 
        %td= earnded.year_graduated 
        %td= earnded.season
        %td= link_to "More about #{earnded.first_name}", student_path(earnded.student_id)

%p
  = link_to 'Add New Student', new_student_path        
%p
  = link_to 'Home Page', root_path
  
