-# Created by Zack Pace
-# on: March 23, 2018 
-# edited on March 29, 18 
= button_to 'Back to student list', students_path,:method => :get
%h2 new student
= form_tag students_path, :method => :post do
    
    = render :partial => 'student_form'
    %div{:class => 'form-group'}
        = label :earned_degree, :season, 'Graduation Season'
        = select :earned_degree, :season, EarnedDegree.grad_seasons
        = label :earned_degree, :year_graduated, 'Graduation Year'
        = select_year(Date.today, start_year: 1942, end_year: Date.today.year,prefix: :earned_degree,field_name: :year_graduated)
    %div{:class => 'form-group'}
        = label :earned_degree, :degree_id, 'Degree earned'
        = collection_select(:earned_degree, :degree_id, Degree.all, :id, :name)
    %div{:class => 'form-group'}
        = submit_tag 'Save Changes', :class => 'btn btn-primary'
    
%p
    = link_to 'Cancel', students_path  
