-# Created by Zack Pace
-# on: March 23, 2018 
-# edited on March 29, 18 
%h2 new student
= form_tag students_path, :method => :post do
    
    = render :partial => 'student_form'
    = render :partial => 'students_details/earned_degree'
    %div{:class => 'form-group'}
        = submit_tag 'Save Changes', :class => 'btn btn-primary'
    
%p
    = link_to 'Cancel', students_path  
