-# Created by Zack Pace
-# on: March 23, 2018 
%h2 Details about #{@student.first_name}


%ul#details
 %li
  Name:
  = "#{@student.first_name}  #{@student.middle_name}  #{@student.last_name}"
 %li
  Cell Phone:
  = "#{@student.cell_number}"
 %li
  Home Phone:
  = @student.home_number 
 %li
  Work Phone:
  = @student.work_number
 %li
  Primary Email:
  = @student.primary_email
 %li 
  Secondary Email:
  = @student.secondary_email
 %li
  Address:
  = "#{@addresses.street_address} #{@addresses.city}, #{@addresses.state} #{@addresses.zip}" unless @addresses.blank?
%ul#degrees
 %h4 
  Degrees
 %li
  - @earned_degrees.each do |earned|
   =" #{earned.degree.name}  #{earned.year_graduated} #{earned.season}"



= link_to 'Add New Grad School', add_grad_school_path(@student.id)
%div
 = link_to 'Add New Employer', add_employer_path(@student.id)
%div
 = link_to 'Edit info', edit_student_path(@student)

= button_to 'Delete', student_path(@student), :method => :delete, :confirm => 'Are you sure?'

= link_to 'Back to student list', students_path