-# Created by Zack Pace
-# on: March 23, 2018 

= render :partial => 'shared/flash', :locals => { :flash => flash }

%h2 Details About #{@student.first_name}


%ul#details
 %li
  Name:
  = "#{@student.first_name}  #{@student.middle_name}  #{@student.last_name}"
 %li
  Cell Phone:
  = "#{@student.cell_number}"
 %li
  Home Phone:
  = @student.home_number 
 %li
  Work Phone:
  = @student.work_number
 %li
  Primary Email:
  = @student.primary_email
 %li 
  Secondary Email:
  = @student.secondary_email
 %li
  Address:
  = "#{@addresses.street_address} #{@addresses.city}, #{@addresses.state} #{@addresses.zip}" unless @addresses.blank?
%ul#degrees
 %h4 
  Degrees
 - @earned_degrees.each do |earned|
  %li
   =" #{earned.degree_name}  #{earned.year_graduated}  #{earned.season}"
   = link_to 'Delete Degree', delete_earned_degree_path(earned), :method => :delete
 = link_to 'Add Degree', student_add_earned_degree_path()



%div{:class => 'linebuttons'}  
 = render partial: 'shared/edit_button', locals: {new_name: "Edit Info", path: edit_student_path(@student)}
 = link_to 'Delete', student_path(@student), :method => :delete, :confirm => 'Are you sure?'
 = render partial: 'shared/back_to_list_button', locals: {list_name: "Student", path: students_path}


%div{:class => 'hidden'}  
 =@id



%div{:class => 'linebuttons'} 
 = button_tag 'Graduate Degrees', :id => "Graduate_Degrees",:class => 'btn btn-primary'
 = button_tag 'Employment', :id => "Employment",:class => 'btn btn-primary'
 
    
 
%div{:id => "table_div"}
