-# Created by Christopher Smith and Amanda Burton
- unless @college.errors.empty?
    #warning
        Errors prevented this movie from being #{controller.action_name}d:
        %ul
            - @college.errors.full_messages.each do|error|
                %li= error
%div{:class => 'form-group'}
    = label :college, :name, 'Name'
    = text_field :college, :name, :required => true, :class => 'form-control'
%div{:class => 'form-group'}
    = label :user_college, :user_id, 'Dean'
    = collection_select :user_college, :user_id, @college_deans, :id, :name, {:selected => (@sel_college_dean.id unless @sel_college_dean.nil?)}, {:class => 'form-control'}
    