-# Created by Christopher and Amanda Burton
-# on: April sixth, 2018 
= form_tag college_path(@college), :method => :put do

  = render :partial => 'colleges_form_fields'
 
  = submit_tag 'Save Changes'
  
%p
  = link_to 'Back to Details Page', college_path(@college)
%p
  = link_to 'Back to College List', colleges_path
    