-# Created by Christopher and Amanda Burton
-# on: April sixth, 2018 
= form_tag college_path(@college), :method => :put do

  %div{:class => 'form-group'}
    = render :partial => 'colleges_form_fields'
 
  %div{:class => 'form-group'}
    = submit_tag 'Save Changes', :class => 'btn btn-primary'
  

%p
  = render partial: 'shared/cancel_button', locals: {path: college_path(@college)}
%p
  = render partial: 'shared/back_to_list_button', locals: {list_name: "College", path: colleges_path}
    