-#  This file is app/views/colleges/index.html.haml
-# Created by Christopher Smith and Amanda Burton
-# on: April 6, 2018 
%h1 All Colleges

%table#colleges.table
  %thead
    %tr
      %th Name
      %th More Info

  %tbody
    - @colleges.each do |college|
      %tr
        %td= college.name
        %td= link_to "More about #{college.name}", college_path(college)

%p
  = render partial: 'shared/new_button', locals: {new_name: "College", path: new_college_path}
%p
  = render partial: 'shared/home_page_button'