-# Created by Christopher Smith and Amanda Burton
-# on: April 6, 2018 
%h2 Details about 
= @college.name


%ul#details.table
    %li
        Name:
        = @college.name
    %li
        Dean:
        = @college.college_dean

%p
    = link_to 'Edit Info', edit_college_path(@college)
%p
    = link_to 'Back to College List', colleges_path