-# Created by Christopher Smith and Amanda Burton
-# on: April 6, 2018 
%h2 Details about 
= @college.name


%ul#details.table
    %li
        Name:
        = @college.name
    %li
        Dean:
        = @college.college_dean

%p
    = render partial: 'shared/edit_button', locals: {path: edit_college_path(@college)}
-#%p
-#    = render partial: 'shared/delete_button', locals: {path: degree_type_path(@degree_type)}
%p
    = render partial: 'shared/back_to_list_button', locals: {list_name: "College", path: colleges_path}