-# Ethan Widen 3/17/18
%h2 Edit role

= form_tag role_path(@role), :method => :put do

    %div{:class => 'form-group'}
        = label :role, :name, 'Name'
        = text_field :role, :name, :class => 'form-control'
        
    %div{:class => 'form-group'}
        = label :role, :colleges_visible, 'Are colleges visible when creating a user with this role?'
        = check_box :role, :colleges_visible, {:selected => @role.colleges_visible, :class => 'form-control'}
        
    %div{:class => 'form-group'}
        = label :role, :departments_visible, 'Are departments visible when creating a user with this role?'
        = check_box :role, :departments_visible, {:selected => @role.departments_visible, :class => 'form-control'}
    
    %div{:class => 'form-group'}
        = submit_tag "Submit", :class => 'btn btn-primary'
  
  
%p
    = link_to 'Back to Details Page', role_path(@role)
%p
    = link_to 'Back to Role List', roles_path