-# Ethan Widen  - 2/21/18
%h2 Create New Role
= form_tag roles_path, :method => :post do
    
    %div{:class => 'form-group'}
        = label :role, :name, 'Name'
        = text_field :role, :name, :required => true, :class => 'form-control'
        
    %div{:class => 'form-group'}
        = label :role, :colleges_visible, 'Are colleges visible when creating a user with this role?'
        = check_box :role, :colleges_visible, {:selected => nil, :class => 'form-control'}
        
    %div{:class => 'form-group'}
        = label :role, :departments_visible, 'Are departments visible when creating a user with this role?'
        = check_box :role, :departments_visible, {:selected => nil, :class => 'form-control'}
    
        
    %div{:class => 'form-group'}
        = submit_tag "Submit", :class => 'btn btn-primary'
        
%p
    = render partial: 'shared/cancel_button', locals: {path: roles_path}     