-# Created by Ethan Widen
-# on: April 18, 2018 

= render :partial => 'shared/flash', :locals => { :flash => flash }

%h2 Details about #{@role.name}


%ul#details
    %li
        Name:
        = "#{@role.name}"
    %li
        Colleges visible to this role:
        = "#{@role.colleges_visible}"
    %li
        Departments visible to this role:
        = "#{@role.colleges_visible}"


%p
    = render partial: 'shared/edit_button', locals: {path: edit_role_path(@role)}
%p
    = render partial: 'shared/back_to_list_button', locals: {list_name: "Role", path: roles_path}
