%h2 Edit University

= form_tag university_path(@university), :method => :put do

  %div{:class => 'form-group'}
    = label :university, :name, 'Name'
    = text_field :university, 'name',  :class => 'form-control'

  = submit_tag 'Save Changes'
  
%p
  = link_to 'Back to Details Page', university_path(@university)
%p
  = link_to 'Back to University List', universities_path