%h1 All Universities



%table#universities.table
    %thead
        %tr
            %th University Name
            %th Edit
    %tbody
        - @universities.each do|university|
            %tr
                %td= university.name
                %td= link_to "Edit #{university.name}", edit_university_path(university)
                
%p
    = link_to 'Add New University', new_university_path      
%p
    = link_to 'Home Page', root_path