%h1 All Universities



%table#universities.table
    %thead
        %tr
            %th University Name
            %th Edit
    %tbody
        - @universities.each do|university|
            %tr
                %td= university.name
                %td= link_to "Edit #{university.name}", edit_university_path(university)
                
%p
    = render partial: 'shared/new_button', locals: {new_name: "Degree", path: new_university_path}
%p
    = render partial: 'shared/home_page_button'