%h2 Create New University
= form_tag universities_path, :method => :post do
    
    = label :university, :name, 'Name'
    = text_field :university, :name
    
    %div{:class => 'form-group'}
      = submit_tag 'Save Changes', :class => 'btn btn-primary'
    
%p
  = link_to 'Cancel', universities_path