%h2 Create New University
= form_tag universities_path(:student_id => @student_id), :method => :post do
    
  %div{:class => 'form-group'}
    = label :university, :name, 'Name'
    = text_field :university, :name, :required => true, :class => 'form-control'
    
  %div{:class => 'form-group'}
    = submit_tag 'Save Changes', :class => 'btn btn-primary'
    
%p
  = render partial: 'shared/cancel_button', locals: {path: universities_path}   