-# Ethan Widen - 2/20/18
%h1 Alumni Tracking System
= render :partial => 'shared/flash', :locals => { :flash => flash }
%p
    = link_to 'Students', students_path
%p
%h2 Set-up Functions
%p
    = link_to 'Faulkner Colleges', colleges_path
    = link_to 'Departments', departments_path
    = link_to 'Degrees', degrees_path
    = link_to 'Employers', employers_path
    = link_to 'Universities', universities_path
%p
%h2 Administrative Functions
    = link_to 'Users', users_path
    = link_to 'Roles', roles_path
