%div
    = render :partial => 'employers/employer_dropdown'
    -#= render partial: 'shared/new_button', locals: {new_name: "Add New Employer", path: students_path}
    = link_to 'Add New Employer', new_employer_path(:student_id => @id)
    
%div{:class => 'form-group'}
    = label :employment, :job_title, 'Job Title'
    = text_field :employment, :job_title, :class => 'form-control'

%div{:class => 'form-group'}
    = label :employment, :current_job, 'Current Job?'
    = check_box("employment", "current_job", {:checked => @employment.current_job}, "true", "false")
%div{:class => 'form-group'}
    = label :employment, :start_date, 'Start Date'
    = date_select(:employment, :start_date, start_year: 1942)
%div{:class => 'form-group', :id => "end_date"}
    = label :employment, :end_date, 'End Date'
    = date_select(:employment, :end_date, start_year: 1942)



%div{:class => 'form-group'}
    = label :employment, :in_field, 'In Field?'
    = check_box("employment","in_field",{:checked => @employment.in_field},"true","false")

