
= render :partial => 'employers/employer_dropdown'

%div{:class => 'form-group'}
    = label :employment, :job_title, 'Job Title'
    = text_field :employment, :job_title, :class => 'form-control'

%div{:class => 'form-group'}
    = label :employment, :current_job, 'Current Job?'
    = check_box_tag "employment[current_job]", true,false,:id => "employment_current_job"  

%div{:class => 'form-group'}
    = label :employment, :start_date, 'Start Date'
    = date_select(:employment, :start_date, start_year: 1942)
%div{:class => 'form-group', :id => "end_date"}
    = label :employment, :start_date, 'End Date'
    = date_select(:employment, :start_date, start_year: 1942)



%div{:class => 'form-group'}
    = label :employment, :in_field, 'In Field?'
    = check_box_tag "employment[in_field]", true,false,:id => "employment_in_field"

