%h2 Add Employer to
= @name

%div
    = form_tag submit_add_employment_path(@id), :method => :get do
        = render :partial => 'employment'
        %div
            = submit_tag 'Add Employer'
            
        %div
            = link_to 'Cancel', student_path(@id)