%h2 Edit University

= form_tag university_path(@university), :method => :put do

  %div{:class => 'form-group'}
    = label :university, :name, 'Name'
    = text_field :university, 'name', :required => true, :class => 'form-control'

  %div{:class => 'form-group'}
    = submit_tag 'Save Changes', :class => 'btn btn-primary'
  

%p
  = render partial: 'shared/cancel_button', locals: {path: university_path(@university)}
%p
  = render partial: 'shared/back_to_list_button', locals: {list_name: "Degree List", path: universities_path}